n8n.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ad-bot-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1664,
        48
      ],
      "id": "c92bbdc7-3265-41cf-9970-bfe7a19dbd0d",
      "name": "Webhook",
      "webhookId": "ad-bot-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Extract webhook data\nconst body = $input.item.json.body;\nconst sessionId = body.sessionId || '';\nconst userMessage = body.message || '';\n\nif (!sessionId || !userMessage) {\n  throw new Error('sessionId and message are required');\n}\n\nreturn [{\n  json: {\n    sessionId: sessionId,\n    userMessage: userMessage\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1472,
        48
      ],
      "id": "f3e313e6-cde7-49b9-a886-b6b4531c61ca",
      "name": "Parse Input"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1MJnEIxxO2jxWkbVpkvo8fDWElTWTIlG1S_YUkf2e6ko",
          "mode": "list",
          "cachedResultName": "Adverto",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MJnEIxxO2jxWkbVpkvo8fDWElTWTIlG1S_YUkf2e6ko/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MJnEIxxO2jxWkbVpkvo8fDWElTWTIlG1S_YUkf2e6ko/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "session_id": "={{ $json.sessionId }}",
            "chat_history": "={{ $json.userMessage }}"
          },
          "matchingColumns": [
            "session_id"
          ],
          "schema": [
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "chat_history",
              "displayName": "chat_history",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -1264,
        48
      ],
      "id": "763a55ee-3575-4686-922f-11f3f063b14d",
      "name": "Load Chat History",
      "alwaysOutputData": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bP3YclnsvViLNfXT",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get session data\nconst sessionId = $('Parse Input').item.json.sessionId;\nconst userMessage = $('Parse Input').item.json.userMessage;\n\n// Load existing history from Google Sheets\nconst sheetData = $input.all();\nlet history = [];\n\nif (sheetData.length > 0 && sheetData[0].json.history) {\n  try {\n    history = JSON.parse(sheetData[0].json.history);\n  } catch (e) {\n    console.log('Failed to parse history, starting fresh');\n    history = [];\n  }\n}\n\n// Add new user message to history\nhistory.push({\n  role: 'user',\n  content: userMessage,\n  timestamp: new Date().toISOString()\n});\n\n// Build conversation context for AI\nconst conversationHistory = history\n  .map(m => `${m.role}: ${m.content}`)\n  .join('\\n\\n');\n\n// Count how many questions assistant has asked\nconst questionNumber = history.filter(m => m.role === 'assistant').length;\n\nreturn [{\n  json: {\n    sessionId: sessionId,\n    userMessage: userMessage,\n    history: history,\n    conversationHistory: conversationHistory,\n    questionNumber: questionNumber,\n    isNewSession: sheetData.length === 0\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -992,
        48
      ],
      "id": "7cf89c17-ab20-4e08-9d84-64b92cebd44d",
      "name": "Prepare Context"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an intelligent assistant helping a user design a custom advertisement.\n\nIMPORTANT: READ THE CONVERSATION HISTORY CAREFULLY BEFORE RESPONDING.\n\nCONVERSATION HISTORY:\n{{ $json.conversationHistory }}\n\nCurrent user message:{{ $json.userMessage }}\n\nSTEP 1: ANALYZE THE HISTORY\nBefore doing anything, check the conversation history above to see:\n- Has the user already answered the Ad Type question (image or video)?\n- How many questions have been asked and answered?\n- What is the NEXT question that hasn't been asked yet?\n\nSTEP 2: ASK THE NEXT QUESTION\nAsk questions in this exact order (ONE at a time):\n\nQuestion 1: \"Would you like to generate an image ad or a video ad? Please type 'image' or 'video'.\"\nQuestion 2: \"Can you briefly describe your product or service?\"\nQuestion 3: \"Who is your target audience? (e.g., teens, professionals, families)\"\nQuestion 4: \"What message, slogan, or emotion should this ad convey?\"\nQuestion 5: \"Do you have any brand colors or style preferences? (e.g., modern, playful, minimalist)\"\nQuestion 6: \"What scenes or objects should be featured? (e.g., people, backgrounds, product shown)\"\nQuestion 7: \"Any special requirements or additional highlights?\"\n\nRULES:\n- Look at the conversation history - count how many questions you've ALREADY asked\n- If you see \"assistant: Would you like to generate\" in history, Question 1 is DONE - move to Question 2\n- If you see a question in the history, DO NOT ASK IT AGAIN\n- Ask ONLY the next unanswered question\n- Be friendly but brief\n\nSTEP 3: WHEN ALL 7 QUESTIONS ARE ANSWERED\nOnly after you have received answers to ALL 7 questions, respond with:\n\nSummary:\nAd Type: [user's answer]\nProduct: [user's answer]\nAudience: [user's answer]\nMessage: [user's answer]\nStyle: [user's answer]\nScenes/Objects: [user's answer]\nSpecial Requirements: [user's answer]\n\nCOMPLETE\n\nCRITICAL:\n- Count the questions in the history before responding\n- Never repeat a question you've already asked\n- COMPLETE only appears when you have 7 answers",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.3,
      "position": [
        -656,
        48
      ],
      "id": "0a1c8943-cafd-4f64-9436-6805941489a4",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -656,
        240
      ],
      "id": "065dbd98-fb5b-4fa5-8846-2fe549db63ed",
      "name": "Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "U9gAL7wTuBCRtkkL",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get AI response\nconst aiResponse = $json.output;\nconst sessionId = $('Prepare Context').item.json.sessionId;\nconst history = $('Prepare Context').item.json.history;\n\n// Add AI response to history\nhistory.push({\n  role: 'assistant',\n  content: aiResponse,\n  timestamp: new Date().toISOString()\n});\n\nreturn [{\n  json: {\n    sessionId: sessionId,\n    aiResponse: aiResponse,\n    history: history,\n    historyJson: JSON.stringify(history),\n    lastUpdated: new Date().toISOString(),\n    isNewSession: $('Prepare Context').item.json.isNewSession\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -400,
        48
      ],
      "id": "3b4762fc-eb6c-4687-94c7-98c7040b338c",
      "name": "Update History"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1MJnEIxxO2jxWkbVpkvo8fDWElTWTIlG1S_YUkf2e6ko",
          "mode": "list",
          "cachedResultName": "Adverto",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MJnEIxxO2jxWkbVpkvo8fDWElTWTIlG1S_YUkf2e6ko/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MJnEIxxO2jxWkbVpkvo8fDWElTWTIlG1S_YUkf2e6ko/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "sessionId": "={{ $json.sessionId }}",
            "history": "={{ $json.historyJson }}",
            "lastUpdated": "={{ $json.lastUpdated }}",
            "row_number": 0,
            "chat_history": "={{ $json.history }}"
          },
          "matchingColumns": [
            "chat_history"
          ],
          "schema": [
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "chat_history",
              "displayName": "chat_history",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "sessionId",
              "displayName": "sessionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "aiResponse",
              "displayName": "aiResponse",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "history",
              "displayName": "history",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "historyJson",
              "displayName": "historyJson",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "lastUpdated",
              "displayName": "lastUpdated",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "isNewSession",
              "displayName": "isNewSession",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -256,
        48
      ],
      "id": "bd27cc32-e6e7-419a-a9f1-81c2f4813b85",
      "name": "Save Chat History",
      "notesInFlow": false,
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bP3YclnsvViLNfXT",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('AI Agent').item.json.output }}",
              "operation": "contains",
              "value2": "COMPLETE:"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -64,
        48
      ],
      "id": "42949dea-4517-4115-afdd-c274d01e8c7c",
      "name": "Check If Complete"
    },
    {
      "parameters": {
        "jsCode": "// Return chat response (in progress)\nconst aiResponse = $('Update History').item.json.aiResponse;\n\nreturn [{\n  json: {\n    status: 'in_progress',\n    message: aiResponse\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        32,
        336
      ],
      "id": "7deefb2b-267e-4082-9850-e59294ff9eeb",
      "name": "Format Chat Response"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        224,
        384
      ],
      "id": "11786dc0-fc85-4767-b8ba-c0143e6d8ae9",
      "name": "Respond Chat"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.0-flash-exp",
          "mode": "list"
        },
        "messages": {
          "values": [
            {
              "content": "=You are an expert ad creative and AI prompt engineer. Using the following information, generate a detailed, imaginative, and visually descriptive prompt for an AI image generation model (Stable Diffusion).\n\nUser's Requirements:\n{{ $('Update History').item.json.aiResponse }}\n\nInstructions:\n- First, identify if this is for IMAGE or VIDEO from the requirements\n- Explicitly state \"IMAGE:\" or \"VIDEO:\" at the start of your output\n- Create a vivid, production-ready prompt\n- Include style, mood, lighting, and composition details\n- Incorporate the product, audience, message, and brand style\n- Make it concise but highly descriptive\n- Add technical photography terms\n- Keep under 400 characters\n- Remove ALL whitespaces, newlines (\\n), tabs (\\t), and line breaks\n- Output as a single continuous line with no extra spacing\n- Output format: \"IMAGE: [your prompt here]\" or \"VIDEO: [your prompt here]\"\n\nExample output:\nIMAGE: A modern coffee shop interior with young professionals, warm lighting, vibrant colors, bokeh effect, shallow depth of field, minimalist aesthetic, high-resolution, professional photography\n\nCRITICAL: Output must be on a single line with no whitespaces, newlines, or formatting characters. Start with either IMAGE: or VIDEO:"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        96,
        16
      ],
      "id": "264d0d99-c4ad-4c9f-87fe-0cd7348b3f82",
      "name": "Refine Prompt",
      "credentials": {
        "googlePalmApi": {
          "id": "U9gAL7wTuBCRtkkL",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get Stability AI response\nconst response = $json;\n\n// Extract base64 from artifacts\nif (response.artifacts && response.artifacts[0] && response.artifacts[0].base64) {\n  return [{\n    json: {\n      status: 'complete',\n      type: 'image',\n      message: 'Your ad image has been generated!',\n      image: {\n        base64: response.artifacts[0].base64,\n        mimeType: 'image/png',\n        filename: `ad-image-${new Date().getTime()}.png`\n      }\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    status: 'error',\n    type: 'error',\n    message: 'Failed to generate image',\n    debug: response\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1584,
        48
      ],
      "id": "3db1d9c2-a4d8-49d2-8006-6b68ba09cd32",
      "name": "Format Image Response"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1776,
        48
      ],
      "id": "a5dc632a-d991-4476-ae0f-f9cbd9e527c0",
      "name": "Respond Image"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -560,
        352
      ],
      "id": "fd9313dd-6d80-4ca9-aa98-69b97bb3b176",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.stability.ai/v1/generation/stable-diffusion-xl-1024-v1-0/text-to-image",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer sk-1rGNUj2rdUWIniuKXyYFSIjzF5aDM1B6zB8fIAKk2fGwnLz8"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text_prompts\": [\n    {\n      \"text\": \"{{ $json.text_prompts[0].text }}\",\n      \"weight\": 1.0\n    }\n  ],\n  \"height\": 1024,\n  \"width\": 1024,\n  \"steps\": 30,\n  \"cfg_scale\": 7,\n  \"samples\": 1,\n  \"style_preset\": \"photographic\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1104,
        -64
      ],
      "id": "d8d59bc0-2d63-405a-b4f4-ca8f09ffb037",
      "name": "Generate Image via Stability AI",
      "notes": "Calls Stability AI API with refined prompt. API key now uses credentials manager for security."
    },
    {
      "parameters": {
        "jsCode": "// Get and clean the prompt - remove ALL problematic characters\nlet prompt = $json.content.parts[0].text;\n\n// Remove IMAGE: or VIDEO: prefix if present\nprompt = prompt.replace(/^(IMAGE:|VIDEO:)\\s*/i, '');\n\n// Remove all whitespace characters (\\n, \\r, \\t, etc.) and replace with single space\nprompt = prompt.replace(/[\\n\\r\\t]+/g, ' ');\n\n// Remove extra spaces (multiple spaces to single space)\nprompt = prompt.replace(/\\s+/g, ' ');\n\n// Trim start and end\nprompt = prompt.trim();\n\n// Remove any quotes that might break JSON\nprompt = prompt.replace(/[\"'`]/g, '');\n\n// Remove problematic punctuation at start/end\nprompt = prompt.replace(/^[,.\\s]+|[,.\\s]+$/g, '');\n\nconsole.log('Cleaned prompt:', prompt);\n\nreturn [{\n  json: {\n    text_prompts: [\n      {\n        text: prompt,\n        weight: 1.0\n      }\n    ],\n    height: 1024,\n    width: 1024,\n    steps: 30,\n    cfg_scale: 7,\n    samples: 1,\n    style_preset: \"photographic\"\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        -96
      ],
      "id": "c466e373-832a-4a33-866e-bceb004af8a8",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d4863c4e-9636-4fec-afbc-446aa18f0d44",
              "leftValue": "={{ $json.content.parts[0].text }}",
              "rightValue": "IMAGE",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        448,
        16
      ],
      "id": "c924f654-30d5-4d19-9cca-b38b19478672",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://bernard-monistical-javion.ngrok-free.dev/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "prompt"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        688,
        144
      ],
      "id": "488a785c-c654-444b-8323-551fc8baea6e",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "url": "=https://bernard-monistical-javion.ngrok-free.dev/jobs/{{ $json.job_id }}/status",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        944,
        256
      ],
      "id": "dcc3d7a8-8602-496d-9533-e47de8e5cd10",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=Your video is available at link:\n{{ $json.result.raw.video.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1248,
        272
      ],
      "id": "eae6447f-46f7-406f-8323-bf0e69084426",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Parse Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Input": {
      "main": [
        [
          {
            "node": "Load Chat History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Chat History": {
      "main": [
        [
          {
            "node": "Prepare Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Context": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Update History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Update History": {
      "main": [
        [
          {
            "node": "Save Chat History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Chat History": {
      "main": [
        [
          {
            "node": "Check If Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Complete": {
      "main": [
        [
          {
            "node": "Refine Prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Chat Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Chat Response": {
      "main": [
        [
          {
            "node": "Respond Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Refine Prompt": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Image Response": {
      "main": [
        [
          {
            "node": "Respond Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Generate Image via Stability AI": {
      "main": [
        [
          {
            "node": "Format Image Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Generate Image via Stability AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond Image": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "085b6b26-573e-473a-b7ec-190d9f5574f6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2ef23d70c61bd4cacce0d2965cedeb84e9d533dc76d9327f1f24925c69d3e802"
  },
  "id": "6erpUCFhUuZqRkxU",
  "tags": []
}