n8n.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -112,
        1296
      ],
      "id": "96878643-2c2e-407f-b0b2-eef0f68bee42",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.stability.ai/v1/generation/stable-diffusion-xl-1024-v1-0/text-to-image",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer sk-mqKjr36G5wbdFktJIsM6zEUO0rRYf3FdkMsF8REfjIF8maKB"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text_prompts\": [\n    {\n      \"text\": \"{{ $json.text_prompts[0].text }}\",\n      \"weight\": 1.0\n    }\n  ],\n  \"height\": 1024,\n  \"width\": 1024,\n  \"steps\": 30,\n  \"cfg_scale\": 7,\n  \"samples\": 1,\n  \"style_preset\": \"photographic\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1248,
        960
      ],
      "id": "15f46842-bdf5-412b-a9ce-34db6350926f",
      "name": "Generate Image via Stability AI",
      "notes": "Calls Stability AI API with refined prompt. API key now uses credentials manager for security."
    },
    {
      "parameters": {
        "jsCode": "const prompt = $json.content.parts[0].text.trim();\n\nreturn [{\n  json: {\n    text_prompts: [\n      {\n        text: prompt,\n        weight: 1.0\n      }\n    ],\n    height: 1024,\n    width: 1024,\n    steps: 30,\n    cfg_scale: 7,\n    samples: 1,\n    style_preset: \"photographic\"\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        960
      ],
      "id": "a2eb0595-f0bf-4fdc-9c27-862991582a70",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ad-bot-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1216,
        992
      ],
      "id": "a7232e60-5f38-420c-8737-5b4e08fdee6f",
      "name": "Webhook1",
      "webhookId": "ad-bot-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Extract webhook data\nconst body = $input.item.json.body;\nconst sessionId = body.sessionId || '';\nconst userMessage = body.message || '';\n\nif (!sessionId || !userMessage) {\n  throw new Error('sessionId and message are required');\n}\n\nreturn [{\n  json: {\n    sessionId: sessionId,\n    userMessage: userMessage\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1024,
        992
      ],
      "id": "87f95000-9178-483a-b30f-bb0eb58767b7",
      "name": "Parse Input1"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1MJnEIxxO2jxWkbVpkvo8fDWElTWTIlG1S_YUkf2e6ko",
          "mode": "list",
          "cachedResultName": "Adverto",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MJnEIxxO2jxWkbVpkvo8fDWElTWTIlG1S_YUkf2e6ko/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MJnEIxxO2jxWkbVpkvo8fDWElTWTIlG1S_YUkf2e6ko/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "session_id": "={{ $json.sessionId }}",
            "chat_history": "={{ $json.userMessage }}"
          },
          "matchingColumns": [
            "session_id"
          ],
          "schema": [
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "chat_history",
              "displayName": "chat_history",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -816,
        992
      ],
      "id": "ef4cdf95-6257-4d45-a8b4-3fb0aedae72a",
      "name": "Load Chat History1",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "jsCode": "// Get session data\nconst sessionId = $('Parse Input1').item.json.sessionId;\nconst userMessage = $('Parse Input1').item.json.userMessage;\n\n// Load existing history from Google Sheets\nconst sheetData = $input.all();\nlet history = [];\n\nif (sheetData.length > 0 && sheetData[0].json.history) {\n  try {\n    history = JSON.parse(sheetData[0].json.history);\n  } catch (e) {\n    console.log('Failed to parse history, starting fresh');\n    history = [];\n  }\n}\n\n// Add new user message to history\nhistory.push({\n  role: 'user',\n  content: userMessage,\n  timestamp: new Date().toISOString()\n});\n\n// Build conversation context for AI\nconst conversationHistory = history\n  .map(m => `${m.role}: ${m.content}`)\n  .join('\\n\\n');\n\n// Count how many questions assistant has asked\nconst questionNumber = history.filter(m => m.role === 'assistant').length;\n\nreturn [{\n  json: {\n    sessionId: sessionId,\n    userMessage: userMessage,\n    history: history,\n    conversationHistory: conversationHistory,\n    questionNumber: questionNumber,\n    isNewSession: sheetData.length === 0\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -544,
        992
      ],
      "id": "ab6cb3b0-5dbd-42f4-8b1d-e79234c556ba",
      "name": "Prepare Context1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=\nYou are an intelligent assistant helping a user design a custom advertisement image.\n\nCONVERSATION HISTORY:\n{{ $json.conversationHistory }}\n\nCurrent user message: {{ $json.userMessage }}\nQuestion number: {{ $json.questionNumber + 1 }}\n\nWhat to do:\n\nCarefully review {{ $json.conversationHistory }}for answered/asked questions.\n\nAsk ONLY the NEXT unanswered question from this list, one at a time:\n\nProduct or service description\n\nTarget audience (e.g., teens, working professionals, families)\n\nMessage, slogan, or emotion to convey\n\nBrand colors or style (modern, playful, minimalist, etc.)\n\nDesired scenes or objects (e.g., people, backgrounds, product shown)\n\nSpecial requirements or highlights\n\nRules:\n\nUse a friendly, conversational style.\n\nNever repeat already-answered questions {{ $json.conversationHistory }}.\n\nWhen ALL SIX answers are collected, reply with this summary ONLY (do not add text):\n\nCOMPLETE: I have all the information needed.\n\nSummary:\nProduct: [answer 1]\nAudience: [answer 2]\nMessage: [answer 3]\nStyle: [answer 4]\nScenes/Objects: [answer 5]\nSpecial Requirements: [answer 6]\n\nCRITICAL: The word \"COMPLETE:\" must be at the start of summary for workflow progression.\n\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.3,
      "position": [
        -208,
        992
      ],
      "id": "011c5bcb-e7cf-4dc3-9ee6-1fa572fa250a",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -208,
        1184
      ],
      "id": "b17161e2-5322-4961-869b-970db04b571f",
      "name": "Google Gemini1"
    },
    {
      "parameters": {
        "jsCode": "// Get AI response\nconst aiResponse = $json.output;\nconst sessionId = $('Prepare Context1').item.json.sessionId;\nconst history = $('Prepare Context1').item.json.history;\n\n// Add AI response to history\nhistory.push({\n  role: 'assistant',\n  content: aiResponse,\n  timestamp: new Date().toISOString()\n});\n\nreturn [{\n  json: {\n    sessionId: sessionId,\n    aiResponse: aiResponse,\n    history: history,\n    historyJson: JSON.stringify(history),\n    lastUpdated: new Date().toISOString(),\n    isNewSession: $('Prepare Context1').item.json.isNewSession\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        48,
        992
      ],
      "id": "ad71844c-2921-4be5-b0ad-f322c60c5891",
      "name": "Update History1"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1MJnEIxxO2jxWkbVpkvo8fDWElTWTIlG1S_YUkf2e6ko",
          "mode": "list",
          "cachedResultName": "Adverto",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MJnEIxxO2jxWkbVpkvo8fDWElTWTIlG1S_YUkf2e6ko/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MJnEIxxO2jxWkbVpkvo8fDWElTWTIlG1S_YUkf2e6ko/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "sessionId": "={{ $json.sessionId }}",
            "history": "={{ $json.historyJson }}",
            "lastUpdated": "={{ $json.lastUpdated }}",
            "row_number": 0,
            "chat_history": "={{ $json.history }}"
          },
          "matchingColumns": [
            "chat_history"
          ],
          "schema": [
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "chat_history",
              "displayName": "chat_history",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "sessionId",
              "displayName": "sessionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "aiResponse",
              "displayName": "aiResponse",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "history",
              "displayName": "history",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "historyJson",
              "displayName": "historyJson",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "lastUpdated",
              "displayName": "lastUpdated",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "isNewSession",
              "displayName": "isNewSession",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        192,
        992
      ],
      "id": "2cc2e0e1-7a3a-449c-86e8-4cea74841216",
      "name": "Save Chat History1",
      "notesInFlow": false,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('Update History1').item.json.history[1].content }}",
              "operation": "contains",
              "value2": "COMPLETE:"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        384,
        992
      ],
      "id": "8244b69f-2a1e-4788-97c4-2458c46a9670",
      "name": "Check If Complete1"
    },
    {
      "parameters": {
        "jsCode": "// Return chat response (in progress)\nconst aiResponse = $('Update History1').item.json.aiResponse;\n\nreturn [{\n  json: {\n    status: 'in_progress',\n    message: aiResponse\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        592,
        1184
      ],
      "id": "8466514c-876c-438a-950d-95ff7933634e",
      "name": "Format Chat Response1"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        800,
        1184
      ],
      "id": "6c8a733c-49a1-4538-ad64-f3c4dc1fcab2",
      "name": "Respond Chat1"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.0-flash-exp",
          "mode": "list"
        },
        "messages": {
          "values": [
            {
              "content": "=You are an expert ad creative and AI prompt engineer. Using the following information, generate a detailed, imaginative, and visually descriptive prompt for an AI image generation model (Stable Diffusion).\n\nUser's Requirements:\n{{ $('Update History1').item.json.aiResponse }}\n\nInstructions:\n- Create a vivid, production-ready prompt\n- Include style, mood, lighting, and composition details\n- Incorporate the product, audience, message, and brand style\n- Make it concise but highly descriptive\n- Add technical photography terms\n- Keep under 400 characters\n- Output ONLY the prompt, nothing else"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        528,
        960
      ],
      "id": "4d3006be-1b7e-45ae-9d62-ac16e35be07f",
      "name": "Refine Prompt1"
    },
    {
      "parameters": {
        "jsCode": "// Get Stability AI response\nconst response = $json;\n\n// Extract base64 from artifacts\nif (response.artifacts && response.artifacts[0] && response.artifacts[0].base64) {\n  return [{\n    json: {\n      status: 'complete',\n      type: 'image',\n      message: 'Your ad image has been generated!',\n      image: {\n        base64: response.artifacts[0].base64,\n        mimeType: 'image/png',\n        filename: `ad-image-${new Date().getTime()}.png`\n      }\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    status: 'error',\n    type: 'error',\n    message: 'Failed to generate image',\n    debug: response\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2032,
        992
      ],
      "id": "09ff04a4-c218-4fd0-a2f8-375b01614071",
      "name": "Format Image Response1"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2224,
        992
      ],
      "id": "85a02358-e6a1-4baf-adf4-5a116efc85ad",
      "name": "Respond Image1"
    }
  ],
  "pinData": {},
  "connections": {
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Generate Image via Stability AI": {
      "main": [
        [
          {
            "node": "Format Image Response1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Generate Image via Stability AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Parse Input1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Input1": {
      "main": [
        [
          {
            "node": "Load Chat History1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Chat History1": {
      "main": [
        [
          {
            "node": "Prepare Context1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Context1": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Update History1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Update History1": {
      "main": [
        [
          {
            "node": "Save Chat History1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Chat History1": {
      "main": [
        [
          {
            "node": "Check If Complete1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Complete1": {
      "main": [
        [
          {
            "node": "Refine Prompt1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Chat Response1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Chat Response1": {
      "main": [
        [
          {
            "node": "Respond Chat1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Refine Prompt1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Image Response1": {
      "main": [
        [
          {
            "node": "Respond Image1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "62714d16-5a99-44f6-8154-8723536b1d27",
  "meta": {
    "instanceId": "1dfdc80564db046c86ed48cd94c638c9624fef6c75a533152e08ae9ce2ac327b"
  },
  "id": "VhEPkU9y25ezKvhA",
  "tags": []
}
